{% extends 'iebc/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block navbar %}
{% include 'iebc/nav.html' with class="{{ title }}" %}
{% endblock %}

{% block content %}

<div class="container">

    <div class="starter-template">
        <h1>IEBC Official Results</h1>
        <div class="panel panel-primary">
            <div class="panel-heading">{{ title | upper }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Polling Station Processed: <span class="label label-default">{{ polling.processed | intcomma }}</span></h4>
                    </div>
                    <div class="col-sm-6">
                        <h4>Total Polling Stations: <span class="label label-success">{{ polling.total | intcomma }}</span></h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Party</th>
                                <th>Votes</th>
                                <th>%</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for party in parties %}
                            <tr>
                                <td>{{ party.name }}</td>
                                <td>{{ party.acronym }}</td>
                                <td>{{ party.votes.presential | intcomma }}</td>
                                <td>{{ party.votes.percent }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" style="text-align: center">
                                    <div class="alert alert-danger" role="alert">No Data Available</div>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if error %}
                            <tr>
                                <td colspan="4" style="text-align: center">
                                    <div class="alert alert-warning" role="alert">API not Available</div>
                                </td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div><!-- /.container -->
{% endblock %}